<!-- Page container -->
<div class="page-container page-margin" @page @imganimate>
    <!-- Page content -->
    <div class="page-content">



        <div class="mail-box sticky">
            <aside class="sm-side">
                <div class="user-head">
                    <span class="compose">2:30PM</span>
                    <button type="button" class="pull-right btn btn-info btn-icon"><i class="icon-pencil5" href="#myModal"
                            data-toggle="modal" title="Compose"></i></button>

                </div>


                <ul class="inbox-nav inbox-divider-bottom">
                    <li class="active">
                        <div class="form-group has-feedback" style="margin:10px">
                            <input type="text" class="form-control" placeholder="Find contact">
                            <div class="form-control-feedback">
                                <i class="icon-search4 text-size-base"></i>
                            </div>
                        </div>
                    </li>

                </ul>
                <!-- Online users -->
                <div class="sidebar-category">

                    <div class="category-content" style="height:300px; overflow:auto">
                        <ul class="media-list">
                            <li class="media" style="cursor:pointer">
                                <a href="#" class="media-left"><img src="assets/images/59639c879aa65_team2.jpg" class="img-sm img-circle"
                                        alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-bold">James Alexander</span>
                                    <span class="media-annotation">Sales Manager</span>
                                </div>
                                <div class="media-right media-middle">
                                    <span class="status-mark bg-success"></span>
                                </div>
                            </li>
                            <li class="media">
                                <a href="#" class="media-left"><img src="assets/images/6.jpg" class="img-sm img-circle"
                                        alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-bold">Jeremy Victorino</span>
                                    <span class="text-size-mini text-muted display-block">Dowagiac, MI.</span>

                                </div>
                                <div class="media-right media-middle">
                                    <a href="#"><span class="label label-danger pull-right">2</span></a>
                                </div>
                            </li>
                            <li class="media">
                                <a href="#" class="media-left"><img src="assets/images/16.jpg" class="img-sm img-circle"
                                        alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading">Margo Baker</span>
                                    <span class="text-size-mini text-muted display-block">Kasaan, AK.</span>
                                </div>
                                <div class="media-right media-middle">
                                    <span class="status-mark border-success"></span>
                                </div>
                            </li>
                            <li class="media">
                                <a href="#" class="media-left"><img src="assets/images/5863cb5a7e3f0_why-you-should-consider-dating-african-girls.jpg"
                                        class="img-sm img-circle" alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">Beatrix Diaz</span>
                                    <span class="text-size-mini text-muted display-block">Neenah, WI.</span>
                                </div>
                                <div class="media-right media-middle">
                                    <span class="status-mark border-warning"></span>
                                </div>
                            </li>
                            <li class="media">
                                <a href="#" class="media-left"><img src="assets/images/5863c7afb5bcb_black-woman-thinking.-pf.jpg"
                                        class="img-sm img-circle" alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">Richard Vango</span>
                                    <span class="text-size-mini text-muted display-block">Grapevine, TX.</span>
                                </div>
                                <div class="media-right media-middle">
                                    <span class="status-mark border-grey-400"></span>
                                </div>
                            </li>
                            <li class="media">
                                <a href="#" class="media-left"><img src="assets/images/59639c879aa65_team2.jpg" class="img-sm img-circle"
                                        alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">James Alexander</span>
                                    <span class="text-size-mini text-muted display-block">Santa Ana, CA.</span>
                                </div>
                                <div class="media-right media-middle">
                                    <span class="status-mark border-success"></span>
                                </div>
                            </li>
                            <li class="media">
                                <a href="#" class="media-left"><img src="assets/images/6.jpg" class="img-sm img-circle"
                                        alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">Jeremy Victorino</span>
                                    <span class="text-size-mini text-muted display-block">Dowagiac, MI.</span>
                                </div>
                                <div class="media-right media-middle">
                                    <span class="status-mark border-danger"></span>
                                </div>
                            </li>
                            <li class="media">
                                <a class="media-left"><img src="assets/images/59639c879aa65_team2.jpg" class="img-sm img-circle"
                                        alt=""></a>
                                <div class="media-body">
                                    <span href="#" class="media-heading text-semibold">James Alexander</span>
                                    <span class="text-size-mini text-muted display-block">Santa Ana, CA.</span>
                                </div>
                                <div class="media-right media-middle">
                                    <span class="status-mark border-success"></span>
                                </div>
                            </li>
                            <li class="media">
                                <a href="#" class="media-left"><img src="assets/images/6.jpg" class="img-sm img-circle"
                                        alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">Jeremy Victorino</span>
                                    <span class="text-size-mini text-muted display-block">Dowagiac, MI.</span>
                                </div>
                                <div class="media-right media-middle">
                                    <span class="status-mark border-danger"></span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="category-content inbox-divider-top">
                        <ul class="media-list">

                            <li class="media">
                                <div class="media-left" (click)="openAttachment" style="cursor:pointer">
                                    <a href="#" class="btn border-info text-info btn-flat btn-square btn-icon btn-xs"><i
                                            class="icon-attachment"></i></a>
                                </div>

                                <div class="media-body">
                                    <span class="text-semibold">Attachments</span>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
                <!-- /online-users -->




            </aside>
            <aside class="lg-side">
                <div class="inbox-head">
                    <div class="user-head">
                        <a class="inbox-avatar" href="javascript:;">
                            <img width="55" height="55" class="img-cirle img-responsive" src="assets/images/5863c7afb5bcb_black-woman-thinking.-pf.jpg">
                        </a>
                        <div class="user-name">
                            <h5><a href="#">Mojisola Alayode</a></h5>
                            <span>Country Manager @ Solar Engergy Global</span>
                        </div>

                        <span class="pull-right date_mail"> Last active 24 days ago </span>

                    </div>
                </div>
                <div class="inbox-body">

                    <div class="row">
                        <div class="col-xs-8">

                            <div class="media-list" style="height:200px" style="overflow:auto">
                                <ul class="media-list chat-list content-group">


                                    <li class="media date-step">
                                        <span>Yesterday</span>
                                    </li>

                                    <li class="media">
                                        <div class="media-left">
                                            <a href="assets/images/placeholder.jpg">
                                                <img src="assets/images/16.jpg" class="img-circle img-md" alt="">
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <div class="media-content">Regardless equitably hello heron glum cassowary
                                                jocosely before reliably a jeepers wholehearted shuddered more that
                                                some where far by koala.</div>
                                            <span class="media-annotation display-block mt-10">Tue, 6:40 am <a href="#"><i
                                                        class="icon-pin-alt position-right text-muted"></i></a></span>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="media-left">
                                            <a href="assets/images/placeholder.jpg">
                                                <img src="assets/images/16.jpg" class="img-circle img-md" alt="">
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <div class="media-content">Crud reran and while much withdrew ardent much
                                                crab hugely met.</div>
                                            <span class="media-annotation display-block mt-10">Tue, 10:28 am <a href="#"><i
                                                        class="icon-pin-alt position-right text-muted"></i></a></span>
                                        </div>
                                    </li>

                                    <li class="media reversed">
                                        <div class="media-body">
                                            <div class="media-content">Thus superb the tapir the wallaby blank frog
                                                execrably much since dalmatian by in hot.</div>
                                            <span class="media-annotation display-block mt-10">Tue, 8:12 am <a href="#"><i
                                                        class="icon-pin-alt position-right text-muted"></i></a></span>
                                        </div>


                                    </li>

                                    <li class="media date-step">
                                        <span>Today</span>
                                    </li>

                                    <li class="media">
                                        <div class="media-left">
                                            <a href="assets/images/placeholder.jpg">
                                                <img src="assets/images/16.jpg" class="img-circle img-md" alt="">
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <div class="media-content">Tolerantly some understood this stubbornly after
                                                snarlingly frog far added insect into snorted more auspiciously
                                                heedless drunkenly jeez foolhardy oh.</div>
                                            <span class="media-annotation display-block mt-10">Wed, 4:20 pm <a href="#"><i
                                                        class="icon-pin-alt position-right text-muted"></i></a></span>
                                        </div>
                                    </li>

                                    <li class="media reversed">
                                        <div class="media-body">
                                            <div class="media-content">Satisfactorily strenuously while sleazily dear
                                                frustratingly insect menially some shook far sardonic badger telepathic
                                                much jeepers immature much hey.</div>
                                            <span class="media-annotation display-block mt-10">2 hours ago <a href="#"><i
                                                        class="icon-pin-alt position-right text-muted"></i></a></span>
                                        </div>

                                        <div class="media-right">
                                            <a href="assets/images/placeholder.jpg">
                                                <img src="assets/images/5863c7afb5bcb_black-woman-thinking.-pf.jpg"
                                                    class="img-circle img-md" alt="">
                                            </a>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="media-left">
                                            <a href="assets/images/placeholder.jpg">
                                                <img src="assets/images/16.jpg" class="img-circle img-md" alt="">
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <div class="media-content">Grunted smirked and grew less but rewound much
                                                despite and impressive via alongside out and gosh easy manatee dear
                                                ineffective yikes.</div>
                                            <span class="media-annotation display-block mt-10">13 minutes ago <a href="#"><i
                                                        class="icon-pin-alt position-right text-muted"></i></a></span>
                                        </div>
                                    </li>

                                    <li class="media reversed">
                                        <div class="media-body">
                                            <div class="media-content"><i class="icon-menu display-block"></i></div>
                                        </div>

                                        <div class="media-right">
                                            <a href="assets/images/placeholder.jpg">
                                                <img src="assets/images/5863c7afb5bcb_black-woman-thinking.-pf.jpg"
                                                    class="img-circle img-md" alt="">
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <div class="form-group">
                                <textarea rows="1" autosize cols="4" class="form-control my-textarea" placeholder="Type your message ..."></textarea>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <ul class="icons-list icons-list-extended mt-10">
                                        <li><a href="#" data-popup="tooltip" title="Send photo" data-container="body"><i
                                                    class="icon-file-picture"></i></a></li>
                                        <li><a href="#" data-popup="tooltip" title="Send video" data-container="body"><i
                                                    class="icon-file-video"></i></a></li>
                                        <li><a href="#" data-popup="tooltip" title="Send file" data-container="body"><i
                                                    class="icon-file-plus"></i></a></li>
                                    </ul>
                                </div>

                                <div class="col-xs-6 text-right">
                                    <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i
                                                class="icon-circle-right2"></i></b> Send</button>
                                </div>
                            </div>




                        </div>

                        <div class="col-xs-3">
                            Advertisment
                        </div>
                    </div>

                </div>
            </aside>
        </div>
    </div>
</div>


<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade"
    style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Compose</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">To</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="" id="inputEmail1" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Cc / Bcc</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="" id="cc" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Subject</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="" id="inputPassword1" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Message</label>
                        <div class="col-lg-10">
                            <textarea rows="10" cols="30" class="form-control" id="" name=""></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <span class="btn green fileinput-button">
                                <i class="fa fa-plus fa fa-white"></i>
                                <span>Attachment</span>
                                <input type="file" name="files[]" multiple="">
                            </span>
                            <button class="btn btn-send" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->