<div *ngIf="showMePhoto">

    <div class="col-xs-12">
        <img [src]='previewImage' class="img-responsive" />
    </div>
    <form [formGroup]="addImageForm" (ngSubmit)="onImageFormSubmit()">
        <input type="hidden" formControlName="memberID" id="memberID" [(ngModel)]="memberID" class="form-control">
        <input type="hidden" formControlName="author" id="author" [(ngModel)]="author" class="form-control">
        <input type="hidden" formControlName="provider_url" id="provider_url" [(ngModel)]="provider_url" class="form-control">
        <input type="hidden" formControlName="provider_name" id="provider_name" [(ngModel)]="provider_name" class="form-control">
        <input type="hidden" formControlName="thumbnail_url" [(ngModel)]="thumbnail_url.filename" class="form-control" />


        <div class="form-group">
            <textarea name="enter-message" formControlName="message" autofocus style="font-size:12px; color:#959494"
                class="form-control mb-15" rows="2" cols="1" placeholder="Say something about this photo !"></textarea>
        </div>

        <div class="col-xs-12 text-right">
            <input type="submit" value="Share" class="btn btn-primary">
        </div>
    </form>

</div>

<!-- Display result -->
<div class="panel panel-flat" *ngIf="resultDisplay">
    <div class="panel-heading">
        <div class="media-left">
            <a href="#"><img src="assets/images/59639c879aa65_team2.jpg" class="img-circle img-md" alt=""></a>
        </div>
        <div class="media-body">


            <h6 class="panel-title">{{post_result.author}}</h6>
            <div class="heading-elements">

            </div>
            <span class="text-size-small">{{post_result.message}}</span>
        </div>

    </div>
    <!-- User details (with sample pattern) -->

    <div class="content-group video-container">

        <img [src]="previewThumbnail" class="img-responsive" alt="">

    </div>
    <div class="panel-footer panel-footer-transparent">
        <div class="heading-elements">
            <ul class="list-inline heading-text">
                <!--<li><like [isLiked]="post.isLiked" [likeCount]="post.likeCount"></like></li>-->
                <li><a href="#" class="text-grey-600"><i class="icon-comment text-grey-400 position-left"></i> 1,489</a></li>
                <li><a href="#" class="text-default"><i class="icon-share text-pink position-left"></i> 281</a></li>
            </ul>

        </div>
    </div>

    <!-- /user details (with sample pattern) -->
</div>
<!-- End Display result-->